{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}
{% providers_media_js %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/login.css'%}">
<div class="container">
  <div class = "content" style="text-align: center; ">
    <!-- <h1>{% trans "Sign In" %}</h1> -->
    

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <a href="/"><img src="{% static 'img/logo.png' %}" style="width: 400px;"></a>
    <!-- C:\Users\User\Desktop\새 폴더\main\static\img\logo.png -->

    <!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->


    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden"  name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}" style="color: gray;">{% trans "Forgot Password?" %}</a>
      |<a href="{{ signup_url }}" style="color: gray;">회원가입</a>
      <br>
      <br>
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
    <div class="socialaccount_ballot" style="margin-top:1rem;">
      <p class="socialaccount_providers">
        {% for provider in socialaccount_providers %}
          {% if provider.id == "openid" %}
          {% for brand in provider.get_brands %}
          <li>
            <a title="{{brand.name}}" 
              class="socialaccount_provider {{provider.id}} {{brand.id}}" 
              href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
              >{{brand.name}}</a>
          </li>
          {% endfor %}
          {% endif %}
          <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}} 계정으로 로그인하시겠습니까?</a>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% endblock %}