{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% include "nav.html" %}
<section class = "content" style="text-align: center;">
    <h3>
        비밀번호 변경
    </h3>
    <hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</section>
{% include "footer.html" %}
{% endblock %}