.content{
    width: 350px; 
    
    margin-left: 33%;
    margin-top: 10%;
   
}

button{
    color:white;
    background-color: red;
    border-radius: 60px;
    width:200px;
    height: 50px;
    border:0;
}