#mapwrap {
    position: relative;
    overflow: hidden;
}

.category,
.category * {
    margin: 0;
    padding: 0;
    color: #000;
}

.category {
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 10px;
    width: 350px;
    height: 48px;
    z-index: 10;
    border: 1px solid black;
    font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: #ffffff;
}

.category .menu_selected {
    background: slategray;
    color: #fff;
    border-left: 1px solid #915B2F;
    border-right: 1px solid #915B2F;
    margin: 0 -1px;
}

.category li {
    list-style: none;
    float: left;
    width: 50px;
    height: 45px;
    padding-top: 5px;
    cursor: pointer;
}

.category .ico_comm {
    display: block;
    margin: 0 auto 2px;
    width: 22px;
    height: 26px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png') no-repeat;
}

.category .ico_coffee {
    background-position: -10px 0;
}

.category .ico_store {
    background-position: -10px -36px;
}

.category .ico_carpark {
    background-position: -10px -72px;
}

.info-title {
    display: block;
    background: #50627F;
    color: white;
}
div.data{
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}