.company-box {
    background-color: #3498db;
    text-align: center;
    border-radius: 10px;
    color: white;
    width: 100%;
    padding: 1vh 0 1vh 0;
    margin: 3vh auto 0 auto;
}

.product-info-container {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.product-inner-container {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.product-name {
    padding-top: 10px;
}

.product-discount-ratio {
    font-size: 1.5rem;
    font-weight: bold;
    color: #DA291C;
}

.product-original-price {
    text-decoration: line-through;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.product-price-arrow {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.product-discount-price { 
    font-size: 1.5rem;
    font-weight: bold;
    color: #DA291C;
}

#purchase-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

#purchase-modal-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}


.input-group-prepend, .input-group-append  {
    background-color: #DA291C;
}

.input-group-prepend button, .input-group-append button {
    color: white;
}

.purchace-cnt-input {
    padding: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e0e0e0;
}

.purchase-button-container {
    margin: 5% auto 0 auto;
    height: 2.5rem;
}

#shopping-cart-button {
    position: absolute;
    left: 50%;    
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    border: 2px solid #DA291C;
}

#modal-shopping-cart-button {
    text-align: center;
    background-color: #DA291C;
    color: white;
}

#direct-buy-button {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    background-color:#DA291C;
    color: white;
}

.product-detail-info-container {
    margin: 10% auto 0 auto;
    text-align: center;
    width: 100%;
}
.product-detail-info-container p{
    width: 100%;
    margin: 0;
}
.product-detail-info-container img{
    max-width: 100%;
    margin: 0;
}