<div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="purchaseModalLabel">장바구니 담기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4">
                {% if product.product.represent_image %}
                  <img src="{{product.product.represent_image.url}}" class="card-img-top" alt="...">
                {% else %}
                  <img src="http://placehold.it/1000X800" class="card-img-top" alt="...">
                {% endif %}
            </div>
            <div>
                <p>
                    <span style="font-weight: bold; color: black;">
                        {{product.product.name}}
                    </span>
                    <span>
                        {{product.product.sub_name}}
                    </span>
                </p>
            </div>
        </div>
        <div class="row purchace-cnt-input" style="margin-top: 2rem;">
            <div class="col-6">
              <input id="purchase-modal-cnt" type="number" value="1" min="1" max="100" step="1" />
            </div>
            <div class="col-6">
              <span id="purchase-modal-price">
                {{product.price}}원
              </span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <div class="purchase-button-container">
            <button type="button" class="btn" id = "shopping-cart-button" >장바구니 담기</button>
        </div>
      </div>
    </div>
  </div>
</div>