{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% block title %}
Lotteng
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/productDetail.css'%}">
{% endblock%}

{% block content %}
{% include "nav.html" %}
<section class="content">
  <section class="row">
    <div class="col-xl-1 col-1"></div>
    <div class="col-xl-10 col-10">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
          {% if product.product.represent_image %}
            <img src="{{product.product.represent_image.url}}" class="card-img-top" alt="...">
          {% else %}
            <img src="http://placehold.it/1000X800" class="card-img-top" alt="...">
          {% endif %}
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12 product-info-container">
          <div class="company-box">
            {{product.shop.company.name}} [{{product.shop.name}}]
          </div>
          <div class="product-inner-container">

            <!-- 할인 종류: product.kinds <br> -->
            <h3 class="product-name">
              {{product.product.name}}
            </h3>
            {{product.product.sub_name}}
            <hr width="80%">
            <p>
              <span class="product-discount-ratio">
                <script>
                  var org = {{product.product.price}};
                  var dis = {{product.price}};
                  var ratio = (org - dis)/org * 100;
                  document.write(Math.round(ratio)+"%");
                </script>
              </span>
              <span class="product-original-price" id = "product-original-price"></span>
              <span class="product-price-arrow">
                →
              </span>
              <span class="product-discount-price" id = "product-discount-price"></span>
            </p>

            <p>
              재고: {{product.stock}} 개
            </p>
            <p>
              <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg" style="color: #DA291C; display: inline;">
                <path fill-rule="evenodd"
                  d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07A7.001 7.001 0 0 1 8 16 7 7 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3zm0 2.1a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 0 1 .5-.5z" />
              </svg>
              ~{{product.endDate}} 까지
            </p>

            <div class="row purchace-cnt-input">
              <div class="col-6">
                <input id="purchase-cnt" type="number" value="1" min="1" max="{{product.stock}}" step="1" />
              </div>
              <div class="col-6">
                <span id="purchase-price">
                </span>
              </div>
            </div>
            
            <div class="row purchase-button-container">
              <div class="col-6 ">
                <button type="button"  class= "btn" id = "shopping-cart-button" data-toggle="modal" data-target="#purchaseModal">
                  장바구니 담기
                </button>
                {% include 'purchase_modal.html' %}
              </div>
              <div class="col-6">
                <form action="{% url 'purchase_main' %}" method = "POST">
                  {%csrf_token%}
                  <input type="hidden" name = "data" id = "request-data">
                  <button class= "btn" id = "direct-buy-button">
                    바로 구매하기
                  </button>
                </form>

              </div>
            </div>
          </div>

        </div>
        <div class="col-xl-12 col-12">
          <div class="product-detail-info-container">
            {{product.product.info | markdown }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-1 col-1"></div>
  </section>
</section>
{% include "footer.html" %}
{% endblock%}

{% block script %}
<script src="{% static 'assets/js/bootstrap-input-spinner.js'%}"></script>
<script>
  
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }
  
  $("#product-original-price").html(numberWithCommas({{product.product.price}}));
  $("#product-discount-price").html(numberWithCommas({{product.price}}));
  $("#purchase-price").html(numberWithCommas({{product.price}})+"원");

  purchase_product_list = {
    {{product.id}} : {
      "company": "{{product.shop.company.name}}",
      "shop": "{{product.shop.name}}",
      "product": "{{product.product.name}}",
      "cnt" : 1,
     },
  };

  $("#request-data").val(JSON.stringify(purchase_product_list));


  var price = {{ product.price }};
  $("input[type='number']").inputSpinner()
  $("#purchase-cnt").change(function () {
    var cnt = $("#purchase-cnt").val()
    $("#purchase-modal-cnt").val(cnt)
    $("#purchase-modal-price").html(numberWithCommas(cnt * price) + "원")
    $("#purchase-price").html(numberWithCommas(cnt * price) + "원")
    purchase_product_list[{{product.id}}]["cnt"] = cnt;
    $("#request-data").val(JSON.stringify(purchase_product_list));
  });

  $("#purchase-modal-cnt").change(function () {
    var cnt = $("#purchase-modal-cnt").val()
    $("#purchase-cnt").val(cnt)
    $("#purchase-price").html(numberWithCommas(cnt * price) + "원")
    $("#purchase-modal-price").html(numberWithCommas(cnt * price) + "원")
    purchase_product_list[{{product.id}}]["cnt"] = cnt;
    $("#request-data").val(JSON.stringify(purchase_product_list));
  });

  $("#modal-shopping-cart-button").click(function () {
    var onSaleProduct_id = "{{product.id}}";
    var cnt = $("#purchase-cnt").val();
    $.ajax({
        type: "POST",
        url: "{% url 'put_shopping_cart' %}",
        data: { 'onSaleProduct_id': onSaleProduct_id, 'cnt': cnt, 'inDetail': true, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
            if (response.isPutCart) {
              alert("담겼습니다.");
            }
            else {
              alert("취소");
            }
        },
        error: function (request, status, error) {
            alert("로그인이 필요합니다.")
        },
    });
})

</script>

{% endblock%}