{% extends "base.html" %}
{% load static %}
{% block title %}
Lotteng
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/productDetail.css'%}">
{% endblock%}

{% block content %}
{% include "nav.html" %}
<section class="content">
    <section class="row">
        <div class="col-xl-1 col-1"></div>
        <div class="col-xl-10 col-10">
            <div class="row">
                <div class = "col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                    <img src="http://placehold.it/1000X800" class="card-img-top" alt="...">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 product-info-container">
                    <div class="company-box">
                        {{product.shop.company.name}} [{{product.shop.name}}]
                    </div>
                    
                    <!-- 할인 종류: product.kinds <br> -->
                    <h3 class= "product-name">
                        {{product.product.name}}
                    </h3>
                    {{product.product.sub_name}}
                    <hr width="80%">
                    <p>
                        유통기한 : 2020-10-02
                    </p>
                    <p>
                        <span class = "product-discount-ratio">
                            25%
                        </span>
                        <span class = "product-original-price">
                            {{product.product.price}}
                        </span>
                        <span class = "product-price-arrow">
                            →
                        </span>
                        <span class="product-discount-price">
                            {{product.price}}
                        </span>
                    </p>

                    <p>
                        재고: {{product.stock}} 개
                    </p>
                    <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #DA291C; display: inline;">
                        <path fill-rule="evenodd" d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07A7.001 7.001 0 0 1 8 16 7 7 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3zm0 2.1a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 0 1 .5-.5z"/>
                      </svg>
                      ~{{product.endDate}} 까지

                </div>
                <div class="col-xl-12 col-12">
                    상품 할인가: {{product.product.info}}<br>

                </div>
            </div>
        </div>
        <div class="col-xl-1 col-1"></div>
    </section>
</section>
{% include "footer.html" %}
{% endblock%}