{% extends "base.html" %}
{% load static %}
{% block title %}
Lotteng
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/productCardList.css'%}?ver=1.1">
<link rel="stylesheet" href="{% static 'assets/css/productCard.css'%}?ver=1.1">
<link rel="stylesheet" href="{% static 'assets/css/shoppingCart.css'%}?ver=1.1">
{% endblock%}

{% block content %}
{% include "nav.html" %}

{% if user.is_authenticated %}
<div class="product-list-box">
  <h3 style="padding-left: 5%;">
    장바구니
  </h3>
  <hr>
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12">
      {% for shop in shops %}
      {% if shop.isInCart %}
      <div class="card" style="margin-bottom: 1rem;">

        <div class="card-header">
          <h5>
            {{shop.company.name}}[{{shop.name}}]
          </h5>
        </div>
        <div class="card-body">
          {% for cartProduct in shoppings %}
          {% if cartProduct.onSaleProduct.shop.name == shop.name %}
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 col-4 mb-3">
              {% if cartProduct.onSaleProduct.product.represent_image %}
                <img src="{{cartProduct.onSaleProduct.product.represent_image.url}}" class="card-img-top" alt="...">
              {% else %}
                <img src="http://placehold.it/1000X800" class="card-img-top" alt="...">
              {% endif %}
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-xs-8 col-8 mb-3">
              
              <button type="button" class="close" aria-label="Close" onclick="popProduct({{cartProduct.id}}, '{{cartProduct.onSaleProduct.product.name}}')">
                <span>&times;</span>
              </button>
              {% if cartProduct.onSaleProduct.kinds %}
              <p class="badge badge-primary">{{cartProduct.onSaleProduct.kinds}}</p>
              {% endif %}
              <p>
                <a href="{% url 'show_on_sale_product_detail' cartProduct.onSaleProduct.id %}" style="color: #636363;">
                  {{cartProduct.onSaleProduct.product.name}}
                </a>
              </p>
              <p>
                <span class="product-discount-ratio">
                  <script>
                    var org = {{ cartProduct.onSaleProduct.product.price }};
                    var dis = {{ cartProduct.onSaleProduct.price }};
                    var ratio = (org - dis) / org * 100;
                    document.write(Math.round(ratio) + "%");
                  </script>
                </span>
                <span class="product-original-price" id="product-original-price">
                  <script>
                    function numberWithCommas(x) {
                      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    }
                    document.write(numberWithCommas({{ cartProduct.onSaleProduct.product.price }}));
                  </script>
                </span>
                <span class="product-price-arrow">
                  →
                </span>
                <span class="product-discount-price" id="product-discount-price" >
                  <script>
                    function numberWithCommas(x) {
                      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    }
                    document.write(numberWithCommas({{ cartProduct.onSaleProduct.price }}));
                  </script>
                </span>
              </p>
              <p style="max-width: 50%;">
                <input class = "purchase-cnt" id="cnt-{{ cartProduct.onSaleProduct.id}}" type="number" value="{{cartProduct.count}}" min="0" max="{{cartProduct.onSaleProduct.stock}}" step="1" />
              </p>
            </div>
            <div class="col-12"
              style="background-color: rgb(231, 145, 139); color:white; padding: 0.3rem 0 0.3rem 2rem;">
              재고: {{cartProduct.onSaleProduct.stock}}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
      <div class="card" style="margin-bottom: 1rem;">
        <div class="card-header">
          결제 예정 금액
        </div>
        <div class="card-body">
          <p>
            <span>
              상품 금액
            </span>
            <strong>
              <span id = "org-price-text" style="text-align: right;">
  
              </span>
            </strong>
          </p>
          <p>
            <span>
              상품 할인 금액
            </span>
            <strong>
              <span id = "dis-price-text" style="text-align: right;">
  
              </span>
            </p>
            </strong>
            <form action="{% url 'purchase_main' %}" method = "POST">
              {%csrf_token%}
              <input type="hidden" name = "data" id = "request-data">
              <button class= "btn" type = "submit" id = "direct-buy-button">
                결제하기
              </button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<h3>로그인 후 이용이 가능합니다.</h3>
<a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
<a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
{% endif %}

{% include "footer.html" %}
{% endblock%}

{% block script %}
<script>
function popProduct(id, name) {
  var ret =confirm("장바구니에서 "+name+"을 제거하시겠습니까?");
  if(ret) {
    var shoppin_cart_product_id = id;
    $.ajax({
        type: "POST",
        url: "{% url 'pop_one_product' %}",
        data: { 'shoppin_cart_product_id': shoppin_cart_product_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
            if (response.isPop) {
              alert("장바구니에서 제거하였습니다.");
              location.reload();
            }
            else {
              alert("오류가 발생하였습니다.");
              location.reload();
            }
        },
        error: function (request, status, error) {
            alert("로그인이 필요합니다.")
        },
    });
  }
}
</script>
<script src="{% static 'assets/js/bootstrap-input-spinner.js'%}"></script>
<script>
  $("input[type='number']").inputSpinner()
</script>

<script>
  org_price = {};
  dis_price = {};
  purchase_product_list = {};
  product = {
    "company": "",
    "shop": "",
    "product": "",
    "cnt" : 0,
  }

  {% for shop in shops %}
    {% if shop.isInCart %}
      {% for cartProduct in shoppings %}
        {% if cartProduct.onSaleProduct.shop.name == shop.name %}
          var tmp_product =  JSON.parse(JSON.stringify(product));
          tmp_product.company = "{{shop.company.name}}";
          tmp_product.shop = "{{shop.name}}";
          tmp_product.product = "{{cartProduct.onSaleProduct.product.name}}";
          tmp_product.cnt = $("#cnt-{{ cartProduct.onSaleProduct.id}}").val();
          purchase_product_list[ {{cartProduct.onSaleProduct.id}}] = tmp_product;
          dis_price["{{cartProduct.onSaleProduct.id}}"] = {{cartProduct.onSaleProduct.price}};
          org_price["{{cartProduct.onSaleProduct.id}}"] = {{cartProduct.onSaleProduct.product.price}};
        {% endif %}
      {% endfor%}
    {% endif%}
  {% endfor%}
  $("#request-data").val(JSON.stringify(purchase_product_list));
</script>
<script>
  var org_total = 0;
  var dis_total = 0;
  
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  function get_id(id) {
    idd = ""+id;
    if(idd && idd != "undefined") {
      idd = idd.replace("cnt-", "");
      return idd;
    }
    return 0;
  }

  function get_org_price(id, cnt) {
    id = ""+id;
    if(id && id != "undefined") {
      id = id.replace("cnt-", "");
      return org_price[id] * cnt;
    }
    return 0
  }

  function get_dis_price(id, cnt) {
    id = ""+id;
    if(id && id != "undefined") {
      id = id.replace("cnt-", "");
      return dis_price[id] * cnt;
    }
    return 0
  }

  shoppingCartItems = $(".purchase-cnt");
  for(var i = 0; i <shoppingCartItems.length; i++) {
    org_total += get_org_price($(shoppingCartItems[i]).attr('id'), $(shoppingCartItems[i]).val());
    dis_total += get_dis_price($(shoppingCartItems[i]).attr('id'), $(shoppingCartItems[i]).val());
  }
  $("#org-price-text").html(numberWithCommas(org_total)+"원");
  $("#dis-price-text").html(numberWithCommas(dis_total)+"원");
</script>

<script>
  $(".purchase-cnt").change(function () {
    org_total = 0;
    dis_total = 0;
    shoppingCartItems = $(".purchase-cnt");
    for(var i = 0; i <shoppingCartItems.length; i++) {
      var item = purchase_product_list[get_id($(shoppingCartItems[i]).attr('id'))];
      if(item && item != "undefined") {
        item.cnt = $(shoppingCartItems[i]).val();
      }
      org_total += get_org_price($(shoppingCartItems[i]).attr('id'), $(shoppingCartItems[i]).val());
      dis_total += get_dis_price($(shoppingCartItems[i]).attr('id'), $(shoppingCartItems[i]).val());
    }
    $("#org-price-text").html(numberWithCommas(org_total)+"원");
    $("#dis-price-text").html(numberWithCommas(dis_total)+"원");
    $("#request-data").val(JSON.stringify(purchase_product_list));
  });


</script>
{% endblock %}