{% extends "base.html" %}
{% load static %}
{% block title %}
Lotteng
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/productCardList.css'%}">
<link rel="stylesheet" href="{% static 'assets/css/productCard.css'%}">
{% endblock%}

{% block content %}
{% include "nav.html" %}

{% if user.is_authenticated %}
<div class="product-list-box">
    <div class="row">
        {% for product in shoppings %}
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 mb-3">

            <div class="card">
                <div class="card-header">
                    <img src="http://placehold.it/1000X800" class="card-img-top" alt="...">
                    <div class="cart-circle-button">
                        <a href="{% url 'put_one_product' product.id %}">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <span class="badge badge-primary">{{product.onSaleProduct.kinds}}</span>
                    <span class="badge badge-secondary">{{product.onSaleProduct.shop.company.name}}</span>
                    <h5 class="card-title">
                        <a href="{% url 'show_on_sale_product_detail' product.id %}" style="color: #636363;">
                            [{{product.onSaleProduct.shop.name}}] {{product.onSaleProduct.product.name}}
                        </a>
                    </h5>
                    <p class="card-text">
                        {{product.onSaleProduct.product.price}} -> {{product.onSaleProduct.product.price}}
                    </p>
                    <p class="card-text">
                        <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-stopwatch" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg" style="color: #DA291C; display: inline;">
                            <path fill-rule="evenodd"
                                d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07A7.001 7.001 0 0 1 8 16 7 7 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3zm0 2.1a.5.5 0 0 1 .5.5V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 0 1 .5-.5z" />
                        </svg>
                        ~{{product.onSaleProduct.endDate}} 까지
                    </p>
                    <p class="card-text">
                        재고: {{product.onSaleProduct.stock}}
                    </p>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h3>로그인 후 이용이 가능합니다.</h3>
<a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
<a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
{% endif %}




{% include "footer.html" %}
{% endblock%}