{% extends "base.html" %}
{% load static %}
{% block title %}
Lotteng
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/productCardList.css'%}?ver=1.1">
<link rel="stylesheet" href="{% static 'assets/css/productCard.css'%}?ver=1.1">
<link rel="stylesheet" href="{% static 'assets/css/pagination.css'%}?ver=1.1">
<link rel="stylesheet" href="{% static 'assets/css/map.css'%}?ver=1.1">

{% endblock%}

{% block content %}
{% include "nav.html" %}
<section class = "content">
  <!--map.html 포함-->
  {% include 'map.html' %}
  {% include 'product_list.html' %}
  {% include 'pagination.html' %}
</section>
{% include "footer.html" %}
{% endblock%}

{% block script %}
<script>
  $(".cart-circle-button").click(function () {
    var onSaleProduct_id = $(this).attr('id');
    var cnt = 1;
    $.ajax({
        type: "POST",
        url: "{% url 'put_one_product' %}",
        data: { 'onSaleProduct_id': onSaleProduct_id, 'cnt': cnt, 'inDetail': true, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
            if (response.isPutCart) {
              alert("장바구니에 담겼습니다.");
            }
            else {
              alert("이미 장바구니에 담겨져있는 상품입니다.");
            }
        },
        error: function (request, status, error) {
            alert("로그인이 필요합니다.")
        },
    });
})
</script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8370495594055448f667e0383394d495&libraries=services,clusterer"></script>
<script>
  var cur_lat = 37.513859279255;
  var cur_lng = 127.095973;

  var list_lat = []
  var list_lng = []
  var list_name = [] 
  var list_company = []
  var sort = "{{sort}}";
  var lng = "{{lng}}";
  var lat = "{{lat}}";
  var query_company_list = {{company | safe}};
  console.log(query_company_list)
  var query_company_str =  window.location.search.substr(window.location.search.indexOf("?") + 1);
  var request_company = {{company | safe}};

  var page = "{{page}}";
  var page_cnt = "{{page_cnt}}";

  if(isNaN(page)) page = 1;
  if(isNaN(page_cnt)) page_cnt = 10;
  
  {% for s in shopInfoList %}
      list_lat.push({{ s.latitude }});
  {% endfor %}
  {% for s in shopInfoList %}
      list_lng.push({{ s.longitude }});
  {% endfor %}
  {% for s in shopInfoList %}
      list_name.push("{{ s.name }}");
  {% endfor %}
  {% for s in shopInfoList %}
      list_company.push("{{ s.company }}");
  {% endfor %}
</script>
<script type="text/javascript" src ="{% static 'assets/js/map.js' %}"></script>
{% endblock%}
