{% extends "base.html" %}
{% load static %}
{% block title %}
Lotteng
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/team.css'%}">
{% endblock%}

{% block content %}
{% include "nav.html" %}
<section class = "content" style="text-align: center;">
    <h3>
        개발 팀원 소개
    </h3>
    <hr>

    <div class="row">
        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/주현이.jpg'%}" class="card-img-top" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        주현이
                    </h4>
                    <p class = "card-text">
                        간단한 소개글
                    </p>
                    <a href="#" class="btn">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/김신건.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        김신건
                    </h4>
                    <p class = "card-text">
                        간단한 소개글
                    </p>
                    <a href="https://wtf.singun11.wtf/" class="btn">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/김태연.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        김태연
                    </h4>
                    <p class = "card-text">
                        간단한 소개글
                    </p>
                    <a href="#" class="btn">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/양지우.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        양지우
                    </h4>
                    <p class = "card-text">
                        간단한 소개글
                    </p>
                    <a href="#" class="btn">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/윤상우.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        윤상우
                    </h4>
                    <p class = "card-text">
                        간단한 소개글
                    </p>
                    <a href="#" class="btn">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/이명진.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        이명진
                    </h4>
                    <p class = "card-text">
                        간단한 소개글
                    </p>
                    <a href="#" class="btn">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/정광수.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        정광수
                    </h4>
                    <p class = "card-text">
                        간단한 소개글
                    </p>
                    <a href="#" class="btn">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/정지윤.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        정지윤
                    </h4>
                    <p class = "card-text">
                        간단한 소개글
                    </p>
                    <a href="#" class="btn">관련 링크</a>
                </div>
            </div>
        </div>
    </div>

</section>
{% include "footer.html" %}
{% endblock%}