{% extends "base.html" %}
{% load static %}
{% block title %}
Lotteng
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/team.css'%}?ver=1.1">
{% endblock%}

{% block content %}
{% include "nav.html" %}
<section class = "content" style="text-align: center;">
    <h3>
        개발 팀원 소개
    </h3>
    <hr>

    <div class="row">
        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/주현이.jpg'%}" class="card-img-top" alt="..." >
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        주현이
                    </h4>
                    <p class = "card-text">
                        동국대학교 멋쟁이사자처럼 8기<br>화학, 융합소프트웨어 전공
                    </p>
                    <a href="https://github.com/hyeoneedyou" class="btn" target="_blank" >관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/김신건.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        김신건
                    </h4>
                    <p class = "card-text">
                        국민대학교 멋쟁이사자처럼 8기<br>소프트웨어 전공
                    </p>
                    <a href="https://github.com/shinkeonkim" class="btn" target="_blank">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/김태연.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        김태연
                    </h4>
                    <p class = "card-text">
                        동국대학교 멋쟁이사자처럼 8기<br>정보통신공학 전공
                    </p>
                    <a href="https://github.com/taeyeon0319" class="btn" target="_blank">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/양지우.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        양지우
                    </h4>
                    <p class = "card-text">
                        DGU_Likelion<br>DGU_Statistics
                    </p>
                    <a href="https://blog.naver.com/plusinx00" class="btn" target="_blank">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/윤상우.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        윤상우
                    </h4>
                    <p class = "card-text">
                        동국대학교 멋쟁이사자처럼 8기<br>통계학과 전공 융합소프트웨어 연계전공
                    </p>
                    <a href="https://github.com/awarduuu" class="btn" target="_blank">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/이명진.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        이명진
                    </h4>
                    <p class = "card-text">
                        국민대학교 멋쟁이사자처럼 8기<br>경영정보시스템 전공 빅데이터경영통계 부전공
                    </p>
                    <a href="https://github.com/audwin505" class="btn" target="_blank">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/정광수.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        정광수
                    </h4>
                    <p class = "card-text">
                        동국대학교 멋쟁이사자처럼 8기<br>산업시스템공학, 융합소프트웨어 전공
                    </p>
                    <a href="https://github.com/hehahihang" class="btn" target="_blank">관련 링크</a>
                </div>
            </div>
        </div>

        <div class="card-container col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="{% static 'assets/img/정지윤.jpg'%}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-body">
                    <h4 class= "card-title">
                        정지윤
                    </h4>
                    <p class = "card-text">
                        국민대학교 멋쟁이사자처럼 8기<br>식품영양학과 전공
                    </p>
                    <a href="https://github.com/Chungjiyoon" class="btn" target="_blank">관련 링크</a>
                </div>
            </div>
        </div>
    </div>

</section>
{% include "footer.html" %}
{% endblock%}