{% load static %}
<footer>
  <section>
    <span>
      <a href="#">
        공지사항
      </a>
    </span>
    <span>
      <a href="#">
        고객센터
      </a>
    </span>
    <span>
      <a href="#">
        오류신고
      </a>
    </span>
    <span>
      <a href="{% url 'team'%}">
        개발팀 소개
      </a>
    </span>
  </section>
  <hr>
  <section>
    <img src="{% static 'assets/img/lotteng-main-logo.png' %}" alt="" srcset=""> <br>
    <p>
      <span>
        <a href="#">
          이용약관
        </a>
      </span>
      <span>
        <a href="#">
          개인정보처리방침
        </a>
      </span>
      <span>
        <a href="#">
          청소년보호방침
        </a>
      </span>
    </p>
    <p>
      Copyright @ Lotteng Co. LTD All rights Reserved.
    </p>
    <hr>
    <span>
      롯땡은 통신판매중개자이며 통신판매의 거래당사자가 아닙니다.<br>
      입점판매자가 등록한 상품 정보 및 거래에 대해 롯땡은 일체 책임을 지지 않습니다.
    </span>
  </section>

</footer>