{% load static %}

<header>
  <div class="header-area">
    <div class="main-header">
      <div class="header-bottom">
        <div class="container-fluid">
          <div class="navbar navbar-expand-lg-form">
            <div class="d-none d-md-none d-lg-block">
              <div class="row align-items-center">
                <div class="logo-small col-xl-2 col-lg-2">
                  <img src="{% static 'assets/img/lotteng-small-logo.png' %}" alt="" style="width: 100%;">
                </div>
                <div class="col-xl-10 col-lg-10 col-12">
                  <div class="row">
                    <div class="logo col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 col-9">
                      <a href="/">
                        <img src="{% static 'assets/img/lotteng-main-logo.png' %}" alt="" style="width: 100%;">
                      </a>
                    </div>
                    <div class="col-xl-2 col-lg-2 d-none d-md-none d-lg-block">
                    </div>

                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 col-9">
                      <form action="{% url 'search' %}" method="get">
                        <div class="input-group" id="search-bar-box">
                            <input type="text" class="form-control" name="q" id="search-bar" value="{{ q }}"
                            placeholder="검색어를 입력해주세요..">
                          <span class="input-group-btn">
                            <button class="btn" type="submit">
                              <img src="{% static 'assets/svg/search.svg' %}" alt="" style="width: 100%;">
                            </button>
                          </span>
                        </div>
                      </form>
                    </div>

                    {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
                    <div class="col-xl-1 col-lg-1 col-md-1 d-none d-sm-none d-md-block">
                      <button type="button" class="btn">
                        <img class="shopping-cart " src="{% static 'assets/svg/cart.svg' %}" alt="" srcset="">
                      </button>
                    </div>

                    <div class="col-xl-1 col-lg-1 col-md-1 d-none d-sm-none d-md-block">
                      <div class="dropdown shopping-cart-button">
                        <button type="button" class="btn dropdown-toggle shopping-cart-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="shopping-cart " src="{% static 'assets/svg/person-circle.svg' %}" alt="" srcset="">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <a class="dropdown-item" >회원 정보</a>
                          <a class="dropdown-item" href="{% url 'account_change_password' %}">회원 정보 수정</a>
                          <a class="dropdown-item" href="{% url 'account_logout' %}">로그아웃</a>
                        </div>
                      </div>
                    </div>
                    {% else %}
                    <div class="col-xl-1 col-lg-1 col-md-1 d-none d-sm-none d-md-block login-box-container">
                      <a href="{% url 'account_login' %}">
                        <button type="button" class="btn login-box">
                          로그인
                        </button>
                      </a>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 d-none d-sm-none d-md-block">
                      <a href="{% url 'account_signup' %}">
                        <button type="button" class="btn login-box">
                          회원가입
                        </button>
                      </a>
                    </div>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
            <!--pc nav-->

            <div class="d-lg-none">
              <div class="row align-items-center">
                <div class="col-md-2 col-sm-1 col-xs-1 col-1"></div>
                <div class="logo col-md-8 col-sm-10 col-xs-10 col-10">
                  <a href="/">
                    <img src="{% static 'assets/img/lotteng-main-logo.png' %}" alt="" style="width: 100%;">
                  </a>
                </div>
                <div class="col-md-2 col-sm-1 col-xs-1 col-1"></div>

                <div class="col-md-11 col-sm-11 col-xs-11 col-11">
                  <form action="{% url 'search' %}" method="get">
                    <div class="input-group" id="search-bar-box">
                        <input type="text" class="form-control" name="q" id="search-bar" value="{{ q }}"
                        placeholder="검색어를 입력해주세요..">
                      <span class="input-group-btn">
                        <button class="btn" type="submit">
                          <img src="{% static 'assets/svg/search.svg' %}" alt="" style="width: 100%;">
                        </button>
                      </span>
                    </div>
                  </form>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-1">
                  <button id="sidebarCollapse" type="button" class="btn rounded-pill shadow-sm" style="background-color: #DCDCDC;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                  </button>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- side nav-->
<div class="d-lg-none vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4" style="background-color: #DCDCDC;">
    <div class="media d-flex align-items-center">
      <div class="media-body">
        {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}

          <h4 class="m-0">{{request.user.username}}</h4>
          <p class="font-weight-light text-muted mb-0">님, 반갑습니다.</p>
        {% else %}
          <h4 class="m-0">비회원</h4>
          <p class="font-weight-light text-muted mb-0">로그인을 하시면 더 많은 서비스를 경험하실 수 있습니다.</p>
        {% endif %}
      </div>
    </div>

    <button id="sidebarCollapseInner" type="button" class="btn btn-light bg-white rounded-pill shadow-sm">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </button>

  </div>

  <div class = "bg-white">
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">회원 정보</p>
  
    <ul class="nav flex-column mb-0">
      {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
  
      <li class="nav-item">
        <a href="#" class="nav-link text-dark">
          <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
          회원 정보
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'account_change_password' %}" class="nav-link text-dark">
          <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
          회원 정보 수정
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'account_logout' %}" class="nav-link text-dark">
          <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
          로그아웃
        </a>
      </li>
      {% else %}
  
      <li class="nav-item">
        <a href="{% url 'account_login' %}" class="nav-link text-dark">
          <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
          로그인
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'account_signup' %}" class="nav-link text-dark">
          <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
          회원가입
        </a>
      </li>
      {% endif %}
    </ul>
  
    {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">서비스</p>
  
    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
          <a href="#" class="nav-link text-dark">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
            주문내역
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-dark">
            <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
            장바구니
          </a>
        </li>
      </ul>
      {% endif %}
  </div>
</div>